.mapboxgl-popup-content {
  padding: 0 !important;
  border-radius: 4px;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: #ffdded !important;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #ffdded !important;
}

.map-popup {
  background-color: #ffdded;
  padding: 8px;
  border-radius: 4px;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

.map-popup h2 {
  font-size: 2rem;
  line-height: 1.2;
  color: blue;
}

.map-popup a {
  color: blue;
}

.map-popup a:hover {
  color: dodgerblue;
}

.mapboxgl-popup-close-button {
  width: 30px;
  height: 30px;
}

.navbar {
  background-color: rgb(255 221 237);
  padding: 1rem;
  margin: 0;
  box-sizing: content-box;
  display: flex;
}

.modal .toggleListButton {
  opacity: 0;
  visibility: none;
}