/* .communityView::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: .8;
}

.communityView {
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  position: fixed;
  overflow: hidden;
} */

.communityView::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #08090aaa;
  left: 0;
  top: 0;
}

.communityModalWrapper {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-auto-flow: dense;
  gap: 15px;
  justify-content: center;
}

.card {
  position: relative;
  height: 100%;
}

.card:hover .cardContent {
  transform: translateX(-11px) translateY(-11px);
}

.card::before {
  content: "";
  position: absolute;
  background-color: blue;
  width: 100%;
  height: 100%;
}

.cardContent {
  position: relative;
  background-color: #ddfff3;
  border: 1px solid blue;
  padding: 30px;
  transition: 200ms ease-in-out transform;
  height: 100%;
}

.imageWrapper {
  aspect-ratio: 1 / 1;
  border: 1px solid blue;
  position: relative;
}
