
.toggleListButton {
  position: fixed;
  bottom: 10px;
  right: 0;
  height: 40px;
  width: 80px;
  z-index: 2;
  display: flex;
  flex-direction: row;

  align-items: center;
  border-radius: 100px;
  display: flex;
  font-weight: 700;
  margin-bottom: 16px;
}

.toggleListButton input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* This style sets the focus ring. The ":not([disabled])" prevents the focus ring from creating a flash when the element is clicked. */
.toggleListButton input:not([disabled]):active + .toggleTrack,
.toggleListButton input:not([disabled]):focus + .toggleTrack {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px darkblue;
}

.toggleListButton input:disabled + .toggleTrack {
  cursor: not-allowed;
  opacity: 0.7;
}

.toggleTrack {
  background-color: #ffdded;
  border: 1px solid hsl(332, 100%, 88%);
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  margin-right: 12px;
  position: relative;
  width: 80px;
  transition: 200ms border, 200ms background-color;
  padding: 0 4px;
}

.toggleTrack > svg {
  flex: 1;
  position: relative;
}

.toggleIndicator {
  align-items: center;
  background: blue;
  border-radius: 100px;
  bottom: 2px;
  display: flex;
  height: 34px;
  justify-content: center;
  left: 2px;
  outline: solid 2px transparent;
  position: absolute;
  transition: 200ms background, 200ms transform;
  width: 34px;
}

.toggleListButton
  input:not([disabled]):checked
  + .toggleTrack
  .toggleIndicator {
  transform: translateX(calc(100% - 6px));
}
